.UniqueEvent {
    background-color: rgb(210, 210, 255);
    border-top-style: solid;
    border-top-width: 0.2rem;
    border-top-color: blue;
    padding: 0.6rem 5% 0.6rem 5%;
}

.UniqueEvent .EventTitle {
    width: 100%;
}

.UniqueEvent .EventTitle label {
    font-size: calc(1.25rem + 0.55vw);
}

.UniqueEvent .Date {
    width: 100%;
    margin-bottom: 0.5rem;
}

.UniqueEvent .Date label {
    font-size: calc(0.8rem + 0.55vw);
}

.UniqueEvent .Details {
    width: 100%;
    margin-bottom: 0.5rem;
}

.UniqueEvent .Details p {
    font-size: calc(0.7rem + 0.55vw);
    text-align: justify;
}

.UniqueEvent div button {
    width: calc(8rem + 0.5vw);
    background-color: rgb(0, 0, 65);
    border-style: solid;
    border-width: 0.1rem;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: calc(0.35rem + 0.1vw) 0% calc(0.35rem + 0.1vw) 0%;
    font-size: calc(1rem - 0.35vw);
    font-weight: bolder;
    margin-bottom: 0.25rem;
}

.UniqueEvent div button:hover {
    background-color: rgb(30, 30, 255);
}

.UniqueEvent div button:active {
    background-color: rgb(30, 30, 195);
}