.NewBirthday {
    border-color: white;
    padding: 0.4rem 18% 0.4rem 18%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 0.1rem;
    border-bottom-width: 0.1rem;
    background-color: rgb(180, 255, 180);
}

.TitleDiv {
    font-size: calc(1rem + 0.95vw);
    color: rgb(0, 65, 10);
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-style: solid;
    border-width: 0.15rem;
    border-color: rgb(0, 65, 10);
}

.NewBirthday .Lbl {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: calc(0.8rem + 0.75vw);
    width: 100%;
    text-align: left;
}

.NewBirthday input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: calc(0.7rem + 0.75vw);
    padding: 0.4rem 0px 0.4rem 0px;
    margin-bottom: 0.4rem;
}

.NewBirthday textarea{
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    width: 100%;
    font-size: calc(0.7rem + 0.75vw);
}

.NewBirthday button{
    width: 50%;
    background-color: rgb(0, 65, 10);
    border-style: solid;
    border-width: 0.1rem;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: calc(0.5rem + 0.1vw) 0% calc(0.5rem + 0.1vw) 0%;
    font-size: calc(0.8rem + 0.45vw);
    font-weight: bolder;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.NewBirthday button:hover {
    background-color: rgb(30, 255, 30);
}

.NewBirthday button:active {
    background-color: rgb(30, 195, 30);
}